span.invalid-message {
    color: red;
}

.action-buttons {
    display: flex;
    align-items: center;
    gap: 5px;
}

.action-buttons .btn {
    margin: 0;
}

.action-buttons .form {
    margin: 0;
}

#imagePreview {
    display: none;
    margin-top: 10px;
    max-width: 23%;
    height: auto;
}

input[switch=danger]:label {
    background-color: red;
}

.chosen-container-single .chosen-single, .chosen-container-multi{
    background: #f9f9f6 !important;
    padding: 7px 7px !important;
    height: 38px!important;
    /* font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)))!important; */
    border: 1px solid #ced4da !important;
}

.chosen-container-multi{
    padding: 0!important;
}

.chosen-container-multi .chosen-choices{
    background: #f9f9f6 !important;
    padding: 10px 10px !important;
    height: 38px!important;
    border: 1px solid #ced4da !important;
}

.chosen-container-single .chosen-single div b{
    margin-top: 10px!important;
}