span.invalid-message {
    color: red;
}

.action-buttons {
    display: flex;
    align-items: center;
    gap: 5px;
}

.action-buttons .btn {
    margin: 0;
}

.action-buttons .form {
    margin: 0;
}

input[switch=danger]:label {
    background-color: red;
}

.d-color-code {
    border: 1px solid;
    border-radius: 4px;
    height: 1.0rem;
    width: 1.0rem;
    cursor: pointer;
}

.color-swatch-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.color-swatch-container .avatar-sm{
    background-size: cover!important;
    background-repeat: no-repeat!important;
}

.is-invalid .select2-selection--single, .is-invalid .select2-selection--multiple{
    border-color: var(--bs-form-invalid-border-color)!important;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    /* Semi-transparent overlay */
    opacity: 0;
    transition: opacity 0.3s;
}

.avatar-sm:hover .overlay {
    opacity: 1;
    /* Show the overlay on hover */
}

.overlay i {
    color: white;
    font-size: 24px;
    /* Adjust the icon size as needed */
}

.d-size-box {
    border: 1px solid;
    color: #000;
    padding: 2px 12px;
    display: flex;
    align-items: center;
    background-color: #f9f9f6;
    cursor: pointer;
}

.d-color-code.selected,
.d-size-box.selected {
    border: 2px solid #000;
    background-color: #c3cbe4;
}

.d-color-code.selected {
    border: 3px solid #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.product-preview-image {
    max-height: 150px;
    max-width: fit-content;
}

div.dataTables_wrapper {
    position: relative;
}

@media (max-width: 1050px) {
    div.dataTables_wrapper {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}

.color-selector.selected {
    border: 2px solid #000;
    box-shadow: 2px 2px 2px;
}


/* Removed input type number arrow */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

table tbody tr.odd {
    background-color: #f2f2f2;
    /* Light gray */
}

/* For even rows */
table tbody tr.even {
    background-color: #ffffff;
    /* White */
}

.page-title-right .btn {
    white-space: nowrap;
}

.table {
    vertical-align: middle !important;
}

#custom-search-input {
    width: 200px;
}

.include-container {
    width: 100%;
    background: #80808045;
    padding: 10px;
    border-radius: 5px;
}

.image-preview .preview-image-container {
    background: #e7e1e1;
    padding: 8px;
    position: relative;
    text-align: center;
}

.image-preview .alt-container {
    position: absolute;
    bottom: 0;
    margin-left: -8px;
}

.image-preview img {
    max-width: 100%;
    height: 180px;
    object-fit: contain;
    object-position: center;
}

.image-preview .remove-image-btn,
.image-preview .btn {
    position: absolute;
    right: 0;
    top: 0;
}

.img-preview {
    max-height: 160px;
}

.small-toggle-button input[switch]+label {
    width: 54px;
}

.small-toggle-button input[switch]:checked+label:before {
    left: 2px;
}

.small-toggle-button input[switch]:checked+label:after {
    left: 33px;
}