span.invalid-message {
    color: red;
}

.action-buttons {
    display: flex;
    align-items: center;
    gap: 5px;
}

.action-buttons .btn {
    margin: 0;
}

.action-buttons .form {
    margin: 0;
}

#imagePreview {
    display: none;
    margin-top: 10px;
    max-width: 23%;
    height: auto;
}

input[switch=danger]:label {
    background-color: red;
}

.chosen-container-single .chosen-single, .chosen-container-multi{
    background: #f9f9f6 !important;
    padding: 7px 7px !important;
    height: 38px!important;
    /* font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)))!important; */
    border: 1px solid #ced4da !important;
}

.chosen-container-multi{
    padding: 0!important;
}

.chosen-container-multi .chosen-choices{
    background: #f9f9f6 !important;
    padding: 10px 10px !important;
    height: 38px!important;
    border: 1px solid #ced4da !important;
}

.chosen-container-single .chosen-single div b{
    margin-top: 10px!important;
}

.d-color-code{
    border: 1px solid; 
    border-radius: 4px; 
    height: 1.5rem; 
    width: 1.5rem; 
    cursor: pointer;
}

.d-size-box{
    border: 1px solid; 
    color: #000;
    padding: 2px 12px;
    display: flex;
    align-items: center;
    background-color: #f9f9f6;
    cursor: pointer;
}

.d-color-code.selected, .d-size-box.selected {
    border: 2px solid #000;
    background-color: #c3cbe4;
}

.d-color-code.selected{
    border: 3px solid #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.product-preview-image{
    max-height: 150px;
    max-width: fit-content;
}

div.dataTables_wrapper {
    position: relative;
}
@media (max-width: 1050px) {
    div.dataTables_wrapper {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}

.color-selector.selected{
    border: 2px solid #000;
    box-shadow: 2px 2px 2px;
}


/* Removed input type number arrow */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

table tbody tr.odd {
    background-color: #f2f2f2; /* Light gray */
}

/* For even rows */
table tbody tr.even {
    background-color: #ffffff; /* White */
}

.page-title-right .btn {
    white-space: nowrap;
}

.table {
    vertical-align: middle !important;
}